# Workflow that runs on PRs and automates the integration & testing process
name: CD

on:
  # Triggers the workflow on push events to main
  push:
    branches: [ main ]

env:
  AZURE_FUNCTIONAPP_NAME: cete-api
  AZURE_FUNCTIONAPP_PACKAGE_PATH: '.'     
  NODE_VERSION: '14.x'               
  DB_HOST: ${{ secrets.AZURE_SQL_SERVER }}
  DB_PORT: ${{ secrets.AZURE_SQL_PORT }}
  DB_USER: ${{ secrets.AZURE_SQL_USER }}
  DB_PASSWORD: ${{ secrets.AZURE_SQL_PASSWORD }}
  DB_NAME: ${{ secrets.AZURE_SQL_DB }}       

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # Test integration first before deploying
  build:

    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup Node ${{ env.NODE_VERSION }} Environment
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}

      # Install npm packages from the package JSON file
      # Specifically install tedious to fix Azure 'cannot find module tedious' error
      - name: Install npm packages
        run: |
          npm install
      
      - name: Compile Typescript to JavaScript
        run: |
          npm run build --if-present

      - name: Install TypeScript eslint
        run: |
          npm install @typescript-eslint/eslint-plugin@latest --save-dev
      
      - name: Lint TypeScript
        run: |
          npm run lint --if-present

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v2
        with:
          name: cete-api-app
          path: .

  test:

      runs-on: ubuntu-latest
      needs: build

      steps:
        # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
        - uses: actions/checkout@v2

        # Run the test files for the API
        - name: Run test harness
          run: |
            npm test --if-present

  deploy:

    runs-on: ubuntu-latest
    
    # Create dependency on test job to deploy
    needs: test

    environment:
      name: 'production'

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: node-app

      # Deploy app to Azure Functions App
      - name: Deploy to Cloud
        uses: Azure/functions-action@v1
        with:
          app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
          package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
          respect-funcignore: true
