# Workflow that runs on PRs and automates the integration & testing process
name: CD

on:
  # Triggers the workflow on push events to main
  push:
    branches: [ main ]

env:
  AZURE_FUNCTIONAPP_NAME: cete-api
  AZURE_FUNCTIONAPP_PACKAGE_PATH: '.'      # set this to the path to your web app project, defaults to the repository root
  NODE_VERSION: '14.x'                 

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # Test integration first before deploying
  build:

    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup Node ${{ env.NODE_VERSION }} Environment
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}

      # Install npm packages from the package JSON file
      - name: Install npm packages
        run: |
          npm install
      
      - name: Compile Typescript to JavaScript
        run: |
          npm run build

      - name: Install TypeScript eslint
        run: |
          npm install @typescript-eslint/eslint-plugin@latest --save-dev
      
      - name: Lint TypeScript
        run: |
          npm run lint

  test:

      runs-on: ubuntu-latest
      needs: build

      steps:
        # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
        - uses: actions/checkout@v2

        # Run the test files for the API
        - name: Run test harness
          run: |
            npm test

  deploy:

    runs-on: ubuntu-latest
    
    # Create dependency on test job to deploy
    needs: test

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # TODO: Deploy app to Cloud provider
      - name: Deploy to Cloud
        uses: Azure/functions-action@v1
        with:
          app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
          package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
