# Workflow that runs on PRs and automates the integration & testing process
name: CI

on:
  # Triggers the workflow on pull request events to main
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  DB_HOST: ${{ secrets.AZURE_SQL_SERVER }}
  DB_PORT: ${{ secrets.AZURE_SQL_PORT }}
  DB_USER: ${{ secrets.AZURE_SQL_USER }}
  DB_PASSWORD: ${{ secrets.AZURE_SQL_PASSWORD }}
  DB_NAME: ${{ secrets.AZURE_SQL_DB }}     

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup Node 14.x Environment
        uses: actions/setup-node@v2
        with:
          node-version: 14.x

      # Install npm packages from the package JSON file
      # Specifically install mocha due to a GitHub Actions bug not installing it
      - name: Install npm packages
        run: |
          npm install
      
      - name: Compile Typescript to JavaScript
        run: |
          npm run build

  lint-typescript:

    runs-on: ubuntu-latest
    needs: build

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Install TypeScript eslint
        run: |
          npm install @typescript-eslint/eslint-plugin@latest --save-dev
      
      - name: Lint TypeScript
        run: |
          npm run lint

  test:

    runs-on: ubuntu-latest
    needs: build

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Run the test files for the API
      - name: Run test harness
        run: |
          npm test
