# Workflow that runs on PRs and automates the integration & testing process
name: test-integration-workflow

on:
  # Triggers the workflow on pull request events to all branches
  pull_request:
    branches: [ '**' ]

env:
  NODE_VERSION: '16.x'    

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch: 

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup Node ${{ env.NODE_VERSION }} Environment
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}

      # Install npm packages from the package JSON file
      # Specifically install mocha due to a GitHub Actions bug not installing it
      - name: Install npm packages
        run: |
          npm install
      
      - name: Compile Typescript to JavaScript
        run: |
          npm run build

  lint-typescript:

    runs-on: ubuntu-latest
    needs: build

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Install TypeScript eslint
        run: |
          npm install @typescript-eslint/eslint-plugin@latest --save-dev
      
      - name: Lint TypeScript
        run: |
          npm run lint

  test:

    runs-on: ubuntu-latest
    needs: build

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Install Test-Specific Packages
        run: |
          npm install @azure/cosmos@latest --save-dev

      # Run the test files for the API
      - name: Run test harness
        run: |
          npm test
